rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }

    function isAuthUser(userId) {
      return request.auth.uid == userId
    }

    function isValidNewBoard(resrc, req){
      return resrc == null && req.resource.data.members[req.auth.uid].role == 'owner';
    }

    function getRole(resrc, req) {
      return resrc.data.members[req.auth.uid].role;
    }

    function isOneOfRoles(resrc, array, req) {
      // 存在しないボードにアクセスした時のため、resrc = null を加える
      return isSignedIn() && (getRole(resrc, req) in array) || resrc == null;
    }

    function onlyContentChanged(req, resrc) {
      return req.resource.data.title == resrc.data.title
        && req.resource.data.members == resrc.data.members
        && req.resource.size() == resrc.size();
    }

    function checkSchema(req, resrc){
      // author は owner 以外の role を割り当てられない
      return req.resource.data.members[resrc.data.author].role == 'owner'
    }

    match /users/{uid} {
      allow read, write: if isSignedIn() && isAuthUser(uid);
      match /boards/{boardId} {
        allow read, write: if isSignedIn() && isAuthUser(uid);
      }

      match /lists/{listId} {
        allow read, write: if isSignedIn() && isAuthUser(uid);

        match /cards/{cardId} {
          allow read, write: if isSignedIn() && isAuthUser(uid);
        }
      }
      match /archivedLists/{listId} {
        allow read, write: if isSignedIn() && isAuthUser(uid);

        match /cards/{cardId} {
          allow read, write: if isSignedIn() && isAuthUser(uid);
        }
      }
    }

    match /boards_live/{boardId} {
      allow create: if isValidNewBoard(resource, request);
      allow delete: if isOneOfRoles(resource, ['owner'],request);
      allow update: if checkSchema(request, resource) && isOneOfRoles(resource, ['owner'],request) || ( isOneOfRoles(resource, ['editor']) && onlyContentChanged(request, resource))
      allow read: if isOneOfRoles(resource, ['owner', 'editor', 'reader'], request);
    }

    match /boards_archived/{boardId} {
      allow create: if isValidNewBoard(resource, request);
      allow delete: if isOneOfRoles(resource, ['owner'], request);
      allow update: if checkSchemea() && isOneOfRoles(resource, ['owner'], request) || ( isOneOfRoles(resource, ['editor']) && onlyContentChanged(request, resource))
      allow read: if isOneOfRoles(resource, ['owner', 'editor', 'reader'], request);
    }

    match /relationships_favorite/{collection=**} {
      allow create: if isSignedIn()
      allow delete, update: if resource.data.uid == request.auth.uid
      allow read: if isSignedIn()
    }

    match /user_detail_public/{uid} {
      function isValidUserSchima(user){
        return user.size() == 5
          && resource.data.uid == user.uid
          && 'displayName' in user && user.displayName is string
        // email は auth().currentUser.updateEmail() で変更する
          && resource.data.email == user.email
          && 'profile' in user && user.profile is string
          && 'avatarURL' in user && user.avatarURL is string
      }

      function isValidUserData(user) {
        return  user.displayName.size() >= 6 && user.displayName.size() <= 30
          && user.profile.size() <= 140
      }

      allow create: if false
      allow update:
      if isSignedIn()
        && isAuthUser(uid)
        && isValidUserSchima(request.resource.data)
        && isValidUserData(request.resource.data)
      allow delete: if isSignedIn() && isAuthUser(uid)
      allow read: if isSignedIn()
    }

    match /runtime_error_reports/{errorId} {
      allow create: if isSignedIn()
      allow read, update, delete: if false
    }
  }
}
