rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isSignedIn() {
      return request.auth != null;
    }

    match /images/avatars/{imageId} {
      allow write:
      if isSignedIn()
        &&request.resource.size < 10 * 1024 * 1024
          && request.resource.contentType.matches('image/.*');
        allow read: if isSignedIn();
      }
    }
  }
